body {
  min-height: 100vh;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 50px;
  margin: 0.3em;
  color: #ff00ff; /* Roxo */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#game {
  background-color: #1a1a1a;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0.8em;
  width: 330px;
}

.status {
  margin-top: 0.6em;
  color: #00ff00;
  font-size: 22px;
  margin-bottom: 0.6em;
}

.placar {
  font-weight: bold;
}

.scoreboard {
  margin: -0.5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  max-width: 300px;
  margin: 0 auto;
}

.cell {
  width: 90px;
  height: 90px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  background-color: #1a1a1a;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color: #ff00ff; /* Roxo */
  transition: background-color 0.3s ease-in-out;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: -1.4em;
}

button {
  background-color: #ff00ff; /* Roxo */
  color: #fff;
  border: none;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #00ff00;
  color: #000000;
  transition: background-color 0.3s ease-in-out;
}
